.start {
    padding-inline-start: 1px;
}

html[dir="ltr"] .start {
    padding-left: 1px;
}

html[dir="rtl"] .start {
    padding-right: 1px;
}

.end {
    padding-inline-end: 1px;
}

html[dir="ltr"] .end {
    padding-right: 1px;
}

html[dir="rtl"] .end {
    padding-left: 1px;
}

.left {
    padding-left: 1px;
}

.right {
    padding-right: 1px;
}
