.start {
    text-align: start;
}

html[dir="ltr"] .start {
    text-align: left;
}

html[dir="rtl"] .start {
    text-align: right;
}

.end {
    text-align: end;
}

html[dir="ltr"] .end {
    text-align: right;
}

html[dir="rtl"] .end {
    text-align: left;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.initial {
    text-align: initial;
}

.inherit {
    text-align: inherit;
}
