.start {
    border-inline-start-width: 1px;
}

html[dir="ltr"] .start {
    border-left-width: 1px;
}

html[dir="rtl"] .start {
    border-right-width: 1px;
}

.end {
    border-inline-end-width: 1px;
}

html[dir="ltr"] .end {
    border-right-width: 1px;
}

html[dir="rtl"] .end {
    border-left-width: 1px;
}

.right {
    border-right-width: 1px;
}

.left {
    border-left-width: 1px;
}
