.borderStartStart {
    border-start-start-radius: 5px;
}

html[dir="ltr"] .borderStartStart {
    border-top-left-radius: 5px;
}

html[dir="rtl"] .borderStartStart {
    border-top-right-radius: 5px;
}

.borderStartEnd {
    border-start-end-radius: 5px;
}

html[dir="ltr"] .borderStartEnd {
    border-top-right-radius: 5px;
}

html[dir="rtl"] .borderStartEnd {
    border-top-left-radius: 5px;
}

.borderEndStart {
    border-end-start-radius: 5px;
}

html[dir="ltr"] .borderEndStart {
    border-bottom-left-radius: 5px;
}

html[dir="rtl"] .borderEndStart {
    border-bottom-right-radius: 5px;
}

.borderEndEnd {
    border-end-end-radius: 5px;
}

html[dir="ltr"] .borderEndEnd {
    border-bottom-right-radius: 5px;
}

html[dir="rtl"] .borderEndEnd {
    border-bottom-left-radius: 5px;
}
