.start {
    border-inline-start: 1px;
}

html[dir="ltr"] .start {
    border-left: 1px;
}

html[dir="rtl"] .start {
    border-right: 1px;
}

.end {
    border-inline-end: 1px;
}

html[dir="ltr"] .end {
    border-right: 1px;
}

html[dir="rtl"] .end {
    border-left: 1px;
}

.shorthand {
    border-inline: 10px;
}

html[dir="ltr"] .shorthand {
    border-left: 10px;
    border-right: 10px;
}

html[dir="rtl"] .shorthand {
    border-right: 10px;
    border-left: 10px;
}
