.start {
    clear: start;
}

html[dir="ltr"] .start {
    clear: left;
}

html[dir="rtl"] .start {
    clear: right;
}

.end {
    clear: end;
}

html[dir="ltr"] .end {
    clear: right;
}

html[dir="rtl"] .end {
    clear: left;
}

.left {
    clear: left;
}

.right {
    clear: right;
}

.none {
    clear: none;
}

.both {
    clear: both;
}
