.startInline {
    float: start;
}

html[dir="ltr"] .writing-mode-sideways-lr .startInline {
    float: left;
}

html[dir="rtl"] .writing-mode-sideways-lr .startInline {
    float: right;
}

html[dir="ltr"] .writing-mode-sideways-rl .startInline {
    float: left;
}

html[dir="rtl"] .writing-mode-sideways-rl .startInline {
    float: right;
}

html[dir="ltr"] .writing-mode-vertical-lr .startInline {
    float: left;
}

html[dir="rtl"] .writing-mode-vertical-lr .startInline {
    float: right;
}

html[dir="ltr"] .writing-mode-vertical-rl .startInline {
    float: left;
}

html[dir="rtl"] .writing-mode-vertical-rl .startInline {
    float: right;
}

html[dir="ltr"] .startInline {
    float: left;
}

html[dir="rtl"] .startInline {
    float: right;
}

.inline-start {
    float: inline-start;
}

html[dir="ltr"] .writing-mode-sideways-lr .inline-start {
    float: left;
}

html[dir="rtl"] .writing-mode-sideways-lr .inline-start {
    float: right;
}

html[dir="ltr"] .writing-mode-sideways-rl .inline-start {
    float: left;
}

html[dir="rtl"] .writing-mode-sideways-rl .inline-start {
    float: right;
}

html[dir="ltr"] .writing-mode-vertical-lr .inline-start {
    float: left;
}

html[dir="rtl"] .writing-mode-vertical-lr .inline-start {
    float: right;
}

html[dir="ltr"] .writing-mode-vertical-rl .inline-start {
    float: left;
}

html[dir="rtl"] .writing-mode-vertical-rl .inline-start {
    float: right;
}

html[dir="ltr"] .inline-start {
    float: left;
}

html[dir="rtl"] .inline-start {
    float: right;
}

.endInline {
    float: end;
}

html[dir="ltr"] .writing-mode-sideways-lr .endInline {
    float: right;
}

html[dir="rtl"] .writing-mode-sideways-lr .endInline {
    float: left;
}

html[dir="ltr"] .writing-mode-sideways-rl .endInline {
    float: right;
}

html[dir="rtl"] .writing-mode-sideways-rl .endInline {
    float: left;
}

html[dir="ltr"] .writing-mode-vertical-lr .endInline {
    float: right;
}

html[dir="rtl"] .writing-mode-vertical-lr .endInline {
    float: left;
}

html[dir="ltr"] .writing-mode-vertical-rl .endInline {
    float: right;
}

html[dir="rtl"] .writing-mode-vertical-rl .endInline {
    float: left;
}

html[dir="ltr"] .endInline {
    float: right;
}

html[dir="rtl"] .endInline {
    float: left;
}

.inline-end {
    float: inline-end;
}

html[dir="ltr"] .writing-mode-sideways-lr .inline-end {
    float: right;
}

html[dir="rtl"] .writing-mode-sideways-lr .inline-end {
    float: left;
}

html[dir="ltr"] .writing-mode-sideways-rl .inline-end {
    float: right;
}

html[dir="rtl"] .writing-mode-sideways-rl .inline-end {
    float: left;
}

html[dir="ltr"] .writing-mode-vertical-lr .inline-end {
    float: right;
}

html[dir="rtl"] .writing-mode-vertical-lr .inline-end {
    float: left;
}

html[dir="ltr"] .writing-mode-vertical-rl .inline-end {
    float: right;
}

html[dir="rtl"] .writing-mode-vertical-rl .inline-end {
    float: left;
}

html[dir="ltr"] .inline-end {
    float: right;
}

html[dir="rtl"] .inline-end {
    float: left;
}

.none {
    float: none;
}

.inherit {
    float: inherit;
}
