.start {
    inset-inline-start: 1px;
}

html[dir="ltr"] .start {
    left: 1px;
}

html[dir="rtl"] .start {
    right: 1px;
}

.end {
    inset-inline-end: 1px;
}

html[dir="ltr"] .end {
    right: 1px;
}

html[dir="rtl"] .end {
    left: 1px;
}

.left {
    left: 1px;
}

.right {
    right: 1px;
}
