.startInline {
    margin-inline-start: 1px;
}

html[dir="ltr"] .writing-mode-sideways-lr .startInline {
    margin-bottom: 1px;
}

html[dir="rtl"] .writing-mode-sideways-lr .startInline {
    margin-top: 1px;
}

html[dir="ltr"] .writing-mode-sideways-rl .startInline {
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-sideways-rl .startInline {
    margin-bottom: 1px;
}

html[dir="ltr"] .writing-mode-vertical-lr .startInline {
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-vertical-lr .startInline {
    margin-bottom: 1px;
}

html[dir="ltr"] .writing-mode-vertical-rl .startInline {
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-vertical-rl .startInline {
    margin-bottom: 1px;
}

html[dir="ltr"] .startInline {
    margin-left: 1px;
}

html[dir="rtl"] .startInline {
    margin-right: 1px;
}

.endInline {
    margin-inline-end: 1px;
}

html[dir="ltr"] .writing-mode-sideways-lr .endInline {
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-sideways-lr .endInline {
    margin-bottom: 1px;
}

html[dir="ltr"] .writing-mode-sideways-rl .endInline {
    margin-bottom: 1px;
}

html[dir="rtl"] .writing-mode-sideways-rl .endInline {
    margin-top: 1px;
}

html[dir="ltr"] .writing-mode-vertical-lr .endInline {
    margin-bottom: 1px;
}

html[dir="rtl"] .writing-mode-vertical-lr .endInline {
    margin-top: 1px;
}

html[dir="ltr"] .writing-mode-vertical-rl .endInline {
    margin-bottom: 1px;
}

html[dir="rtl"] .writing-mode-vertical-rl .endInline {
    margin-top: 1px;
}

html[dir="ltr"] .endInline {
    margin-right: 1px;
}

html[dir="rtl"] .endInline {
    margin-left: 1px;
}

.shorthandInlineOne {
    margin-inline: 10px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandInlineOne {
    margin-bottom: 10px;
    margin-top: 10px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandInlineOne {
    margin-top: 10px;
    margin-bottom: 10px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandInlineOne {
    margin-top: 10px;
    margin-bottom: 10px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandInlineOne {
    margin-bottom: 10px;
    margin-top: 10px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandInlineOne {
    margin-top: 10px;
    margin-bottom: 10px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandInlineOne {
    margin-bottom: 10px;
    margin-top: 10px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandInlineOne {
    margin-top: 10px;
    margin-bottom: 10px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandInlineOne {
    margin-bottom: 10px;
    margin-top: 10px;
}

html[dir="ltr"] .shorthandInlineOne {
    margin-left: 10px;
    margin-right: 10px;
}

html[dir="rtl"] .shorthandInlineOne {
    margin-right: 10px;
    margin-left: 10px;
}

.shorthandInlineTwo {
    margin-inline: 10px 5px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandInlineTwo {
    margin-bottom: 10px;
    margin-top: 5px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandInlineTwo {
    margin-top: 10px;
    margin-bottom: 5px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandInlineTwo {
    margin-top: 10px;
    margin-bottom: 5px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandInlineTwo {
    margin-bottom: 10px;
    margin-top: 5px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandInlineTwo {
    margin-top: 10px;
    margin-bottom: 5px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandInlineTwo {
    margin-bottom: 10px;
    margin-top: 5px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandInlineTwo {
    margin-top: 10px;
    margin-bottom: 5px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandInlineTwo {
    margin-bottom: 10px;
    margin-top: 5px;
}

html[dir="ltr"] .shorthandInlineTwo {
    margin-left: 10px;
    margin-right: 5px;
}

html[dir="rtl"] .shorthandInlineTwo {
    margin-right: 10px;
    margin-left: 5px;
}

.startBlock {
    margin-block-start: 1px;
}

html[dir="ltr"] .writing-mode-sideways-lr .startBlock {
    margin-left: 1px;
}

html[dir="rtl"] .writing-mode-sideways-lr .startBlock {
    margin-left: 1px;
}

html[dir="ltr"] .writing-mode-sideways-rl .startBlock {
    margin-right: 1px;
}

html[dir="rtl"] .writing-mode-sideways-rl .startBlock {
    margin-right: 1px;
}

html[dir="ltr"] .writing-mode-vertical-lr .startBlock {
    margin-left: 1px;
}

html[dir="rtl"] .writing-mode-vertical-lr .startBlock {
    margin-left: 1px;
}

html[dir="ltr"] .writing-mode-vertical-rl .startBlock {
    margin-right: 1px;
}

html[dir="rtl"] .writing-mode-vertical-rl .startBlock {
    margin-right: 1px;
}

html[dir="ltr"] .startBlock {
    margin-top: 1px;
}

html[dir="rtl"] .startBlock {
    margin-top: 1px;
}

.endBlock {
    margin-block-end: 1px;
}

html[dir="ltr"] .writing-mode-sideways-lr .endBlock {
    margin-right: 1px;
}

html[dir="rtl"] .writing-mode-sideways-lr .endBlock {
    margin-right: 1px;
}

html[dir="ltr"] .writing-mode-sideways-rl .endBlock {
    margin-left: 1px;
}

html[dir="rtl"] .writing-mode-sideways-rl .endBlock {
    margin-left: 1px;
}

html[dir="ltr"] .writing-mode-vertical-lr .endBlock {
    margin-right: 1px;
}

html[dir="rtl"] .writing-mode-vertical-lr .endBlock {
    margin-right: 1px;
}

html[dir="ltr"] .writing-mode-vertical-rl .endBlock {
    margin-left: 1px;
}

html[dir="rtl"] .writing-mode-vertical-rl .endBlock {
    margin-left: 1px;
}

html[dir="ltr"] .endBlock {
    margin-bottom: 1px;
}

html[dir="rtl"] .endBlock {
    margin-bottom: 1px;
}

.shorthandBlockOne {
    margin-block: 10px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandBlockOne {
    margin-left: 10px;
    margin-right: 10px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandBlockOne {
    margin-left: 10px;
    margin-right: 10px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandBlockOne {
    margin-right: 10px;
    margin-left: 10px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandBlockOne {
    margin-right: 10px;
    margin-left: 10px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandBlockOne {
    margin-left: 10px;
    margin-right: 10px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandBlockOne {
    margin-left: 10px;
    margin-right: 10px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandBlockOne {
    margin-right: 10px;
    margin-left: 10px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandBlockOne {
    margin-right: 10px;
    margin-left: 10px;
}

html[dir="ltr"] .shorthandBlockOne {
    margin-top: 10px;
    margin-bottom: 10px;
}

html[dir="rtl"] .shorthandBlockOne {
    margin-top: 10px;
    margin-bottom: 10px;
}

.shorthandBlockTwo {
    margin-block: 10px 5px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandBlockTwo {
    margin-left: 10px;
    margin-right: 5px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandBlockTwo {
    margin-left: 10px;
    margin-right: 5px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandBlockTwo {
    margin-right: 10px;
    margin-left: 5px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandBlockTwo {
    margin-right: 10px;
    margin-left: 5px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandBlockTwo {
    margin-left: 10px;
    margin-right: 5px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandBlockTwo {
    margin-left: 10px;
    margin-right: 5px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandBlockTwo {
    margin-right: 10px;
    margin-left: 5px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandBlockTwo {
    margin-right: 10px;
    margin-left: 5px;
}

html[dir="ltr"] .shorthandBlockTwo {
    margin-top: 10px;
    margin-bottom: 5px;
}

html[dir="rtl"] .shorthandBlockTwo {
    margin-top: 10px;
    margin-bottom: 5px;
}

.left {
    margin-left: 1px;
}

.right {
    margin-right: 1px;
}

.shorthand {
    margin: 1px 2px 3px 4px;
}

.shorthandLogicalOne {
    margin: logical 1px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandLogicalOne {
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandLogicalOne {
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-top: 1px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandLogicalOne {
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandLogicalOne {
    margin-right: 1px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandLogicalOne {
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandLogicalOne {
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandLogicalOne {
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-top: 1px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandLogicalOne {
    margin-right: 1px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

html[dir="ltr"] .shorthandLogicalOne {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}

html[dir="rtl"] .shorthandLogicalOne {
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
}

.shorthandLogicalTwo {
    margin: logical 1px 2px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandLogicalTwo {
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 2px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandLogicalTwo {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-top: 2px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandLogicalTwo {
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-top: 2px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandLogicalTwo {
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 2px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandLogicalTwo {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-right: 1px;
    margin-top: 2px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandLogicalTwo {
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 1px;
    margin-bottom: 2px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandLogicalTwo {
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-top: 2px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandLogicalTwo {
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 2px;
}

html[dir="ltr"] .shorthandLogicalTwo {
    margin-top: 1px;
    margin-right: 2px;
    margin-bottom: 1px;
    margin-left: 2px;
}

html[dir="rtl"] .shorthandLogicalTwo {
    margin-top: 1px;
    margin-left: 2px;
    margin-bottom: 1px;
    margin-right: 2px;
}

.shorthandLogicalThree {
    margin: logical 1px 2px 3px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandLogicalThree {
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 3px;
    margin-bottom: 2px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandLogicalThree {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-right: 3px;
    margin-top: 2px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandLogicalThree {
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-top: 2px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandLogicalThree {
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 3px;
    margin-bottom: 2px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandLogicalThree {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-right: 3px;
    margin-top: 2px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandLogicalThree {
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 3px;
    margin-bottom: 2px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandLogicalThree {
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-top: 2px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandLogicalThree {
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 3px;
    margin-bottom: 2px;
}

html[dir="ltr"] .shorthandLogicalThree {
    margin-top: 1px;
    margin-right: 2px;
    margin-bottom: 3px;
    margin-left: 2px;
}

html[dir="rtl"] .shorthandLogicalThree {
    margin-top: 1px;
    margin-left: 2px;
    margin-bottom: 3px;
    margin-right: 2px;
}

.shorthandLogicalFour {
    margin: logical 1px 2px 3px 4px;
}

html[dir="ltr"] .writing-mode-sideways-lr .shorthandLogicalFour {
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 3px;
    margin-bottom: 4px;
}

html[dir="rtl"] .writing-mode-sideways-lr .shorthandLogicalFour {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-right: 3px;
    margin-top: 4px;
}

html[dir="ltr"] .writing-mode-sideways-rl .shorthandLogicalFour {
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-top: 4px;
}

html[dir="rtl"] .writing-mode-sideways-rl .shorthandLogicalFour {
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 3px;
    margin-bottom: 4px;
}

html[dir="ltr"] .writing-mode-vertical-lr .shorthandLogicalFour {
    margin-left: 1px;
    margin-bottom: 2px;
    margin-right: 3px;
    margin-top: 4px;
}

html[dir="rtl"] .writing-mode-vertical-lr .shorthandLogicalFour {
    margin-left: 1px;
    margin-top: 2px;
    margin-right: 3px;
    margin-bottom: 4px;
}

html[dir="ltr"] .writing-mode-vertical-rl .shorthandLogicalFour {
    margin-right: 1px;
    margin-bottom: 2px;
    margin-left: 3px;
    margin-top: 4px;
}

html[dir="rtl"] .writing-mode-vertical-rl .shorthandLogicalFour {
    margin-right: 1px;
    margin-top: 2px;
    margin-left: 3px;
    margin-bottom: 4px;
}

html[dir="ltr"] .shorthandLogicalFour {
    margin-top: 1px;
    margin-right: 2px;
    margin-bottom: 3px;
    margin-left: 4px;
}

html[dir="rtl"] .shorthandLogicalFour {
    margin-top: 1px;
    margin-left: 2px;
    margin-bottom: 3px;
    margin-right: 4px;
}
