.transitionPropertySingle {
    position: absolute;
    inset-inline-end: 0;
    transition-duration: 0.2s;
    transition-property: inset-inline-end;
}

html[dir="ltr"] .transitionPropertySingle {
    right: 0;
    transition-property: right;
}

html[dir="rtl"] .transitionPropertySingle {
    left: 0;
    transition-property: left;
}

.transitionPropertyMultiple {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    transition-duration: 0.2s, 0.3s;
    transition-property: inset-inline-end, top;
}

html[dir="ltr"] .transitionPropertyMultiple {
    right: 0;
    transition-property: right, top;
}

html[dir="rtl"] .transitionPropertyMultiple {
    left: 0;
    transition-property: left, top;
}

.transitionShorthandSingle {
    position: absolute;
    inset-inline-end: 0;
    transition: inset-inline-end 0.2s ease-in-out;
}

html[dir="ltr"] .transitionShorthandSingle {
    right: 0;
    transition: right 0.2s ease-in-out;
}

html[dir="rtl"] .transitionShorthandSingle {
    left: 0;
    transition: left 0.2s ease-in-out;
}

.transitionShorthandMultiple {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    transition: inset-inline-end 0.2s ease-in-out, top 0.3s ease-in;
}

html[dir="ltr"] .transitionShorthandMultiple {
    right: 0;
    transition: right 0.2s ease-in-out, top 0.3s ease-in;
}

html[dir="rtl"] .transitionShorthandMultiple {
    left: 0;
    transition: left 0.2s ease-in-out, top 0.3s ease-in;
}

.transitionShorthandComplex {
    position: absolute;
    top: 0;
    inset-inline: 10px 20px;
    transition: inset-inline 0.2s ease-in-out, top 0.3s ease-in;
}

html[dir="ltr"] .transitionShorthandComplex {
    left: 10px;
    right: 20px;
    transition: right 0.2s ease-in-out, left 0.2s ease-in-out, top 0.3s ease-in;
}

html[dir="rtl"] .transitionShorthandComplex {
    right: 10px;
    left: 20px;
    transition: left 0.2s ease-in-out, right 0.2s ease-in-out, top 0.3s ease-in;
}

.transitionOnlySupportedProperties {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.2s ease-in-out, top 0.3s ease-in;
}

.invalidInput {
    text-align: start;
    transition: text-align 0.2s ease-in;
}

html[dir="ltr"] .invalidInput {
    text-align: left;
}

html[dir="rtl"] .invalidInput {
    text-align: right;
}
