.start {
    border-inline-start-width: 1px;
}

.end {
    border-inline-end-width: 1px;
}

.shorthandOne {
    border-inline-width: 10px;
}

.shorthandTwo {
    border-inline-width: 10px 5px;
}

.right {
    border-right-width: 1px;
}

.left {
    border-left-width: 1px;
}
