.startInline {
    border-inline-start-color: #fff;
}

.endInline {
    border-inline-end-color: #fff;
}

.shorthandInlineOne {
    border-inline-color: #fff;
}

.shorthandInlineTwo {
    border-inline-color: #fff #000;
}

.startBlock {
    border-block-start-color: #fff;
}

.endBlock {
    border-block-end-color: #fff;
}

.shorthandBlockOne {
    border-block-color: #fff;
}

.shorthandBlockTwo {
    border-block-color: #fff #000;
}

.right {
    border-right-color: #fff;
}

.left {
    border-left-color: #fff;
}

.shorthand {
    border-color: red green blue white;
}

.shorthandLogicalOne {
    border-color: logical red;
}

.shorthandLogicalTwo {
    border-color: logical red green;
}

.shorthandLogicalThree {
    border-color: logical red green blue;
}

.shorthandLogicalFour {
    border-color: logical red green blue white;
}
