.start {
    border-bottom-inline-start-radius: 1px;
}

.end {
    border-bottom-inline-end-radius: 1px;
}

.right {
    border-bottom-right-radius: 1px;
}

.right {
    border-bottom-left-radius: 1px;
}
