.startInline {
    border-inline-start-style: solid;
}

.endInline {
    border-inline-end-style: solid;
}

.shorthandInlineOne {
    border-inline-style: solid;
}

.shorthandInlineTwo {
    border-inline-style: solid dotted;
}

.startBlock {
    border-block-start-style: solid;
}

.endBlock {
    border-block-end-style: solid;
}

.shorthandBlockOne {
    border-block-style: solid;
}

.shorthandBlockTwo {
    border-block-style: solid dotted;
}

.right {
    border-right-style: solid;
}

.left {
    border-left-style: solid;
}

.shorthand {
    border-style: solid dotted dot-dash double;
}

.shorthandLogicalOne {
    border-style: logical solid;
}

.shorthandLogicalTwo {
    border-style: logical solid dotted;
}

.shorthandLogicalThree {
    border-style: logical solid dotted dot-dash;
}

.shorthandLogicalFour {
    border-style: logical solid dotted dot-dash double;
}
