.start {
    border-inline-start-style: solid;
}

.end {
    border-inline-end-style: solid;
}

.shorthandOne {
    border-inline-style: solid;
}

.shorthandTwo {
    border-inline-style: solid dotted;
}

.right {
    border-right-style: solid;
}

.left {
    border-left-style: solid;
}
