.start {
    border-inline-start-color: #fff;
}

.end {
    border-inline-end-color: #fff;
}

.shorthandOne {
    border-inline-color: #fff;
}

.shorthandTwo {
    border-inline-color: #fff #000;
}

.right {
    border-right-color: #fff;
}

.left {
    border-left-color: #fff;
}
