.startInline {
    border-inline-start-width: 1px;
}

.endInline {
    border-inline-end-width: 1px;
}

.shorthandInlineOne {
    border-inline-width: 10px;
}

.shorthandInlineTwo {
    border-inline-width: 10px 5px;
}

.startBlock {
    border-block-start-width: 1px;
}

.endBlock {
    border-block-end-width: 1px;
}

.shorthandBlockOne {
    border-block-width: 10px;
}

.shorthandBlockTwo {
    border-block-width: 10px 5px;
}

.right {
    border-right-width: 1px;
}

.left {
    border-left-width: 1px;
}

.shorthand {
    border-width: 1px 2px 3px 4px;
}

.shorthandLogicalOne {
    border-width: logical 1px;
}

.shorthandLogicalTwo {
    border-width: logical 1px 2px;
}

.shorthandLogicalThree {
    border-width: logical 1px 2px 3px;
}

.shorthandLogicalFour {
    border-width: logical 1px 2px 3px 4px;
}
