.startInline {
    border-inline-start: 1px;
}

.endInline {
    border-inline-end: 1px;
}

.shorthandInline {
    border-inline: 10px;
}

.startBlock {
    border-block-start: 1px;
}

.endBlock {
    border-block-end: 1px;
}

.shorthandBlock {
    border-block: 10px;
}
