.startInline {
    float: start;
}

.inline-start {
    float: inline-start;
}

.endInline {
    float: end;
}

.inline-end {
    float: inline-end;
}

.none {
    float: none;
}

.inherit {
    float: inherit;
}
