.start {
    inset-inline-start: 1px;
}

.end {
    inset-inline-end: 1px;
}

.shorthandOne {
    inset-inline: 10px;
}

.shorthandTwo {
    inset-inline: 10px 5px;
}

.left {
    left: 1px;
}

.right {
    right: 1px;
}
