.start {
    margin-inline-start: 1px;
}

.end {
    margin-inline-end: 1px;
}

.shorthandOne {
    margin-inline: 10px;
}

.shorthandTwo {
    margin-inline: 10px 5px;
}

.left {
    margin-left: 1px;
}

.right {
    margin-right: 1px;
}
