.start {
    padding-inline-start: 1px;
}

.end {
    padding-inline-end: 1px;
}

.shorthandOne {
    padding-inline: 10px;
}

.shorthandTwo {
    padding-inline: 10px 5px;
}

.left {
    padding-left: 1px;
}

.right {
    padding-right: 1px;
}
